
<div class="card center">
  <h1> Examen Civique</h1>
  <p>Préparez-vous efficacement à l'examen officiel</p>

  <a href="/quiz">
    <button class="btn-primary">Commencer l'examen</button>
  </a>
</div>