
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Examen Civique</title>
  <!-- IMPORTANT pour mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/accueil.css">
</head>

<body>
<div class="hero">

  <div class="overlay"></div>

  <div class="card center">

    <h1 class="title">
      🇫🇷 Examen Civique
    </h1>

    <p class="subtitle">
      Préparez-vous efficacement et réussissez votre examen avec une simulation réelle
    </p>

    <div class="features">
      <div>⏱️ Chrono réel</div>
      <div>📊 Résultats détaillés</div>
      <div>📱 Compatible mobile</div>
    </div>

    <a href="/quiz">
      <button class="btn-primary">
        🚀 Commencer l'examen
      </button>
    </a>

  </div>

</div>


</body>
</html>